@media (max-width: 1024px) {
  .tours-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .btn {
    margin: 0 auto;
  }
}

@media (max-width: 520px) {
  nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .tours-grid {
    grid-template-columns: 1fr;
  }
}
